:root {
  --background: oklch(0.9967 0.0013 106.42);
  --background-tertiary: oklch(0.9886 0.0017 67.8);
  --text-primary: oklch(0.303 0.0038 308.32);
  --text-secondary: oklch(0.4412 0.0041 325.65);
  --text-disabled: oklch(0.8089 0.0018 325.59);
  --accent-primary: oklch(0.5952 0.1767 13.08);
  --accent-hover: oklch(0.4742 0.1245 10.57);
  --status-success: oklch(0.7184 0.1677 156.03);
  --status-danger: oklch(0.6584 0.218 24.47);
  --status-warning: oklch(0.7787 0.1358 76.25);
  --status-action: oklch(0.4751 0.0588 212.99);
  --status-action-hover: oklch(0.4414 0.0482 213.45);
}

.dark {
  --background: oklch(0.2018 0.0025 325.67);
  --background-tertiary: oklch(0.2323 0.0024 325.65);
  --text-primary: oklch(0.9392 0.004 106.48);
  --text-secondary: oklch(0.573 0.0015 286.35);
  --text-disabled: oklch(0.7134 0.0018 325.6);
  --accent-primary: oklch(0.6751 0.1301 7.61);
  --accent-hover: oklch(0.606 0.1637 10.7);
  --status-success: oklch(0.8043 0.1364 160.88);
  --status-danger: oklch(0.6994 0.1572 21.96);
  --status-warning: oklch(0.8547 0.1492 82.53);
  --status-action: oklch(0.6341 0.0724 213.67);
  --status-action-hover: oklch(0.5878 0.0666 214.31);
}
