.category-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  width: 100%;
  height: 100%;
  grid-template-areas:
    'A B B'
    'C C D';
}
.category-card .A {
  grid-area: A;
}
.category-card .B {
  grid-area: B;
}
.category-card .C {
  grid-area: C;
}
.category-card .D {
  grid-area: D;
}

.category-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.CarouselItem:not(:nth-child(n)) {
  filter: blur(5px);
  opacity: 0.5;
  transition:
    filter 0.3s ease,
    opacity 0.3s ease;
}

.CarouselItem:nth-child(n + 1) {
  filter: none;
  opacity: 1;
}
.button-text {
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0rem;
}
.desc-text {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: var(--color-text-primary);
}
.suggestion-text {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0rem;
}
.header-text {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0rem;
  color: var(--color-background);
}
.link-text {
  font-size: 0.75rem;
  text-decoration: underline;
  line-height: 1.125rem;
  color: var(--color-status-action);
  transition: color 0.2s ease;
}
.tabs-text {
  font-size: 1.125rem;
  line-height: 1.688rem;
  text-align: center;
  font-weight: 500;
  color: var(--color-background-tertiary);
  transition: color 0.2s ease;
}

.link-text:hover {
  color: var(--color-status-action-hover);
}
.link-text.disabled-link,
.link-text[aria-disabled='true'] {
  color: var(--color-text-disabled);
  cursor: not-allowed;
}

.no-cancel::-webkit-search-cancel-button {
  display: none;
}
.custom-shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.12);
}
.custom-scroll::-webkit-scrollbar {
  width: 4px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: var(--color-accent-primary);
  border-radius: 3px;
}
.title-text {
  font-size: var(--text-title);
  font-weight: 500;
  line-height: 60px;
  color: var(--color-text-primary);
  text-align: center;
}
