.category-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  width: 100%;
  height: 100%;
  grid-template-areas:
    'A B B'
    'C C D';
}
.category-card .A {
  grid-area: A;
}
.category-card .B {
  grid-area: B;
}
.category-card .C {
  grid-area: C;
}
.category-card .D {
  grid-area: D;
}

.category-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.CarouselItem:not(:nth-child(n)) {
  filter: blur(5px);
  opacity: 0.5;
  transition:
    filter 0.3s ease,
    opacity 0.3s ease;
}

.CarouselItem:nth-child(n + 1) {
  filter: none;
  opacity: 1;
}
.button-text {
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0rem;
}
.link-text {
  font-size: 0.75rem;
  text-decoration: underline;
  line-height: 1.125rem;
  color: var(--color-status-action);
  transition: color 0.2s ease;
}

.link-text:hover {
  color: var(--color-status-action-hover);
}
.link-text.disabled-link,
.link-text[aria-disabled='true'] {
  color: var(--color-text-disabled);
  cursor: not-allowed;
}
