@import './colors.css';
@import './fonts.css';

@theme inline {
  --font-pop: pop, 'sans-serif';

  --radius-sm: 0.313rem; /* 5px */
  --radius-dialog: 0.688rem; /*11px*/
  --radius-md: 1rem; /* 16px */
  --radius-lg: 3.75rem; /* 60px */
  --radius-full: 9999px; /* Full */
  --text-sm: 0.75rem; /*12px*/
  --text-input: 0.9rem;
  --text-label: 0.875rem;
  --text-button: 1rem;
  --text-leading-md: 1.313rem;
  --text-leading-lg: 1.5rem;
  --text-md: 1.125rem; /*18px*/
  --text-lg: 1.25rem;
  --text-login: 1.5rem;
  --text-cate: 1.75rem;
  --text-xl: 2rem;
  --text-title: 3rem /* 48px */;

  --color-background: var(--background);
  --color-background-tertiary: var(--background-tertiary);
  --color-background-card: var(--background-card);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-disabled: var(--text-disabled);
  --color-accent-primary: var(--accent-primary);
  --color-accent-hover: var(--accent-hover);
  --color-status-success: var(--status-success);
  --color-status-danger: var(--status-danger);
  --color-status-warning: var(--status-warning);
  --color-status-action: var(--status-action);
  --color-status-action-hover: var(--status-action-hover);
}
