@import 'tailwindcss';
@import 'tw-animate-css';
@import './styles/theme.css';
@import './styles/utilities.css';
@import './styles/components.css';

@custom-variant dark (&:is(.dark *));

html {
  font-size: 16px;
}

@media (max-width: 2560px) {
  html {
    font-size: 18px;
  }
}
@media (max-width: 1440px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 425px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 8px;
  }
}
