@font-face {
  font-family: satoshi;
  src: url('../src/assets/fonts/Satoshi-Regular.otf');
}
@font-face {
  font-family: integral;
  src: url('../src/assets/fonts/Fontspring-DEMO-integralcf-regular.otf');
}
@font-face {
  font-family: pop;
  src: url('../src/assets/fonts/Poppins-Regular.ttf');
}

@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

html {
  font-size: 16px; /* for laptop the rem is 1 which is 16px */
}

@media (max-width: 1024px) {
  /* for tablet the rem is 1 whch is 15px */
  html {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  /* for mobile the rem is 1 which is 14px */
  html {
    font-size: 10px;
  }
}

@media (max-width: 480px) {
  /* for small mobile the rem is 1 which is 13px */
  html {
    font-size: 9px;
  }
}

@theme inline {
  --font-satoshi: satoshi, 'sans-serif';
  --font-integral: integral, 'sans-serif';
  --font-pop: pop, 'sans-serif';

  --text-xs: 0.75rem; /* 12px (extra small text) */
  --text-table-sm: 0.9rem; /* 14px (feature table smaller size) */
  --text-table-lg: 1rem; /* 16px (feature table) */
  --text-list: 1rem; /* 16px (feature lists) */
  --text-block-quote: 1rem; /* 16px when using ("") (body-text , product description)  */
  --text-md: 1.125rem; /* 18px (medium text) */
  --text-p: 1.375rem; /* 22px (body-text , product description)*/
  --text-h4: 1.375rem; /* 22px (Small heading , product card title) */
  --text-2md: 1.5rem; /* 24px (Sort dropdown) */
  --text-h3: 1.75rem; /* 28px (Sub section Title)   */
  --text-lg: 2rem; /* 32px (Large text) */
  --text-inline-code: 2.25rem; /*  Developer-facing UI or API docs */
  --text-h2: 2.25rem; /* 36px (Section Title) */
  --text-h1: 3rem; /* 48px (Page Title) */

  --radius-sm: 0.25rem; /* 4px */
  --radius-md: 0.5rem; /* 8px */
  --radius-lg: 0.75rem; /* 12px */
  --radius-xl: 1rem; /* 16px */
  --radius-1xl: 1.25rem; /* 20px */
  --radius-2xl: 1.5rem; /* 24px */
  --radius-3xl: 2rem; /* 32px */
  --radius-4xl: 2.5rem; /* 40px */
  --radius-5xl: 3rem; /* 48px */
  --radius-6xl: 3.5rem; /* 56px */
  --radius-7xl: 4rem; /* 64px */
  --radius-full: 9999px; /* Full */

  --color-filter-bg: oklch(94.8% 0 0);
  --color-button-text: var(--button-text);
  --color-button-bg: var(--button-bg);
  --color-button-text-sec: var(--button-text-sec);
  --color-button-bg-sec: var(--button-bg-sec);
  --color-component-bg: var(--component-bg);
  --color-footer-bg: var(--footer-bg);
  --color-footer-text: var(--footer-text);
  --color-input-bg: var(--input-bg);
  --color-brand-text: var(--brand-text);
  --color-footerbottom-bg: var(--footerbottom-bg);
  --color-border-cards: var(--border-cards);
  --color-discount-text: oklch(64.89% 0.237 26.97);
  --color-filter-bg: oklch(95.51% 0 0);

  --width-button-sm: 8.125rem; /* 130px */
  --width-button-md: 13.75rem; /* 220px */
  --width-button-lg: 28.125rem; /* 420px */

  --color-primary-50: oklch(0.9572 0.0146 1.55);
  --color-primary-100: oklch(0.8697 0.0467 2.96);
  --color-primary-200: oklch(0.8086 0.0705 5.26);
  --color-primary-300: oklch(0.7258 0.108 6.72);
  --color-primary-400: oklch(0.6751 0.1301 7.61);
  --color-primary-main: oklch(0.606 0.1637 10.7);
  --color-primary-600: oklch(0.5654 0.1512 10.86);
  --color-primary-700: oklch(0.4742 0.1245 10.57);
  --color-primary-800: oklch(0.3957 0.1009 9.96);
  --color-primary-900: oklch(0.3311 0.0807 8.81);

  --color-secondary-light: oklch(0.9652 0.0076 207.14);
  --color-secondary-light-hover: oklch(0.9455 0.0114 217.55);
  --color-secondary-light-active: oklch(0.8865 0.0235 213.63);
  --color-secondary-normal: oklch(0.6341 0.0724 213.67);
  --color-secondary-normal-hover: oklch(0.5878 0.0666 214.31);
  --color-secondary-normal-active: oklch(0.5401 0.0602 213.71);
  --color-secondary-dark: oklch(0.5174 0.0574 213.2);
  --color-secondary-dark-hover: oklch(0.4414 0.0482 213.45);
  --color-secondary-dark-active: oklch(0.3652 0.0382 211.36);
  --color-secondary-darker: oklch(0.3116 0.0312 212.38);

  --color-background-50: oklch(0.9967 0.0013 106.42);
  --color-background-100: oklch(0.9886 0.0017 67.8);
  --color-background-200: oklch(0.9823 0.0029 84.56);
  --color-background-300: oklch(0.9761 0.0041 91.45);
  --color-background-400: oklch(0.9698 0.0054 95.1);
  --color-background-main: oklch(0.9635 0.0067 97.35);
  --color-background-600: oklch(0.8972 0.0055 95.11);
  --color-background-700: oklch(0.7464 0.0056 106.54);
  --color-background-800: oklch(0.6191 0.0044 106.53);
  --color-background-900: oklch(0.5096 0.0031 106.51);

  --color-text-50: oklch(0.9401 0 0);
  --color-text-100: oklch(0.8089 0.0018 325.59);
  --color-text-200: oklch(0.7134 0.0018 325.6);
  --color-text-300: oklch(0.573 0.0015 286.35);
  --color-text-400: oklch(0.4799 0.0034 308.38);
  --color-text-main: oklch(0.3307 0.0037 308.34);
  --color-text-600: oklch(0.311 0.0038 308.33);
  --color-text-700: oklch(0.269 0.0018 286.28);
  --color-text-800: oklch(0.2323 0.0024 325.65);
  --color-text-900: oklch(0.2018 0.0025 325.67);

  --color-accent-primary: oklch(0.606 0.1637 10.7);
  --color-disabled: oklch(0.8638 0 0);
  --color-primary-primary: oklch(1 0 0);

  --color-status-success: oklch(0.7184 0.1677 156.03);
  --color-status-action: oklch(0.7694 0.1136 250.59);
  --color-status-warning: oklch(0.6546 0.2017 24.64);
  --color-status-warning-2: oklch(0.8088 0.17 75.26);
}

:root {
  --text: oklch(0% 0 0);
  --button-text: oklch(100% 0 0);
  --button-bg: oklch(0% 0 0);
  --footer-bg: oklch(0% 0 0);
  --input-bg: oklch(100% 0 0);
  --footer-text: oklch(100% 0 0);
  --brand-text: oklch(0% 0 0 / 0.6);
  --footerbottom-bg: #f0f0f0;
  --border-cards: oklch(0% 0 0 / 0.1);
  --button-text-sec: oklch(0% 0 0);
  --button-bg-sec: oklch(100% 0 0);
  --component-bg: oklch(95.7% 0.003 345.21);
}

.dark {
  --text: oklch(100% 0 0);
  --button-text-sec: oklch(100% 0 0);
  --button-bg-sec: oklch(0% 0 0);
  --button-text: oklch(0% 0 0);
  --button-bg: oklch(100% 0 0);
  --component-bg: oklch(0% 0 0);
}

.CarouselItem:not(:nth-child(n)) {
  filter: blur(5px);
  opacity: 0.5;
  transition:
    filter 0.3s ease,
    opacity 0.3s ease;
}

.CarouselItem:nth-child(n + 1) {
  filter: none;
  opacity: 1;
}

@layer base {
  * {
    @apply font-satoshi;
  }
}
@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
[data-radix-portal] {
  position: fixed !important;
  inset: 0 !important;
  z-index: 9999 !important;
  pointer-events: auto;
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out forwards;
}
.font-card-title {
  font-family: 'satoshi', sans-serif;
  font-size: 1.3rem;

  font-weight: 700;
  line-height: 100%;
  vertical-align: middle;
  color: var(--text);
  text-align: left;
}
.category-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  width: 100%;
  height: 100%;
  grid-template-areas:
    'A B B'
    'C C D';
}

.category-card > div {
  width: 100%;
  height: 100%;
}

.category-card .A {
  grid-area: A;
}
.category-card .B {
  grid-area: B;
}
.category-card .C {
  grid-area: C;
}
.category-card .D {
  grid-area: D;
}

/* make all cards equal height visually */
.category-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-scrollbar {
  overflow-y: auto;
  position: relative;
  width: calc(77% + 27px);
  padding-right: 27px;
  box-sizing: content-box;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-600);
  border-radius: var(--radius-full);
}
