@import 'tailwindcss';
@import 'tw-animate-css';
@import './styles/fonts.css';
@import './styles/theme.css';
@import './styles/utilities.css';
@import './styles/components.css';

@custom-variant dark (&:is(.dark *));

html {
  font-size: 16px; /* for laptop the rem is 1 which is 16px */
}

@media (max-width: 1024px) {
  /* for tablet the rem is 1 whch is 15px */
  html {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  /* for mobile the rem is 1 which is 14px */
  html {
    font-size: 10px;
  }
}

@media (max-width: 480px) {
  /* for small mobile the rem is 1 which is 13px */
  html {
    font-size: 9px;
  }
}
